.item {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.status.online {
  background-color: green;
}

.status.offline {
  background-color: red;
}

.avatar {
  border-radius: 5px;
  margin-right: 10px;
}

.name {
  font-size: 1.2em;
  font-weight: 500;
}
