.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 300px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.title {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}
.statList {
  display: flex;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
.label {
  color: white;
  font-size: 0.7em;
  margin-bottom: 5px;
}
.percentage {
  color: white;
}
